<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Image url 1:</strong>
    <%= product.image_url_1 %>
  </p>

  <p>
    <strong>Image url 2:</strong>
    <%= product.image_url_2 %>
  </p>

  <p>
    <strong>Image url 3:</strong>
    <%= product.image_url_3 %>
  </p>

  <p>
    <strong>Image url 4:</strong>
    <%= product.image_url_4 %>
  </p>

  <p>
    <strong>Image url 5:</strong>
    <%= product.image_url_5 %>
  </p>

  <p>
    <strong>Is featured:</strong>
    <%= product.is_featured %>
  </p>

  <p>
    <strong>Is sold out:</strong>
    <%= product.is_sold_out %>
  </p>

  <p>
    <strong>Collection date:</strong>
    <%= product.collection_date %>
  </p>

</div>
